*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    }
    body{
        /* background-color: rgb(148, 188, 205); */
        background-color: aliceblue;
        
    }
    
    header{
        background-color: #0E4281;
        width: 100%;
        height: 90px;
        
    }
    
    a{
        text-decoration: none;
    }
    
    #button1{
        width: 70px;
        height: 50px;
        display: block;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        text-align: center;
        line-height: 50px;
        margin-left: 30%;
        margin-top:  -70px;
        border-radius: 20px;
        font-family: sans-serif;
        /* padding: 5px; */
        transition: .5s;
        }
        #button1:hover{
            background-color: #085c8d;
            width: 100px;
            margin-left: 29%;
            color: white;
            transition: 1s;
        }

        
   

    #button2{
        width: 70px;
        height: 50px;
        display: block;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        text-align: center;
        line-height: 50px;
        margin-left: 48%;
        margin-top: -50px;
        border-radius: 20px;
        font-family: sans-serif;
        transition: .5s;
            }
        #button2:hover{
            background-color: #085c8d;
            width: 100px;
                            margin-left: 47%;
                color: white;
                transition: 1s;
            }
    #button3{
        width: 70px;
        height: 50px;
        display: block;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        text-align: center;
        line-height: 50px;
        margin-left: 65%;
        margin-top: -50px;
        border-radius: 20px;
        font-family: sans-serif;
        transition: .5s;
    }
    #button3:hover{
        background-color: #085c8d;
        width: 100px;
        margin-left: 64%;
        color: white;
        transition: 1s;
    }
    #foto{
        width: 80px;
        height: 80px;
        margin-top: 7px;
    }
    #text-logo{
        margin-top: -70px;
        margin-left: 90px;
        font-family: sans-serif;
        color: black    ;
    } 
    #map{
        margin-left: 150px;
        margin-top: 80px;
        border-radius: 10%;
    }
    table{
        margin-left: 1080px;
        height: 500px;
        margin-top: -500px;
        width: 600px;
        border: #000000;
    }
    select{
        width: 200px;
    }
  

footer{
    background-color: #81C6E8;
    width: 100%;
    height: 158px;
    margin-top: 117px;
}
#SOCIAlMEDIA{
    margin-left: 40%;
    margin-top: 25px;
    position: absolute;
}
#contact{
    margin-left: 1555px;
    margin-top: 20px;
    position: absolute;

}
#adres{
    margin-left: 200px;
    margin-top: 20px;
    position: absolute;
}