header{
    background-color: #0E4281;
    width: 105%;
    height: 70px;
    margin-top: -8px;
    margin-left: -8px;
}

a{
    text-decoration: none;
}

#button1{
    width: 70px;
    height: 50px;
    display: block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 50px;
    margin-left: 30%;
    margin-top:  -60px;
    border-radius: 20px;
     font-family: 'Sofia',cursive;
    }
#button2{
    width: 70px;
    height: 50px;
    display: block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 50px;
    margin-left: 48%;
    margin-top: -50px;
    border-radius: 20px;
    font-family: 'Sofia',cursive;
        }
#button3{
    width: 70px;
    height: 50px;
    display: block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 50px;
    margin-left: 65%;
    margin-top: -50px;
    border-radius: 20px;
    font-family: 'Sofia',cursive;
}

#foto{
    width: 80px;
    height: 80px;
    margin-top: -5px;
}
#text-logo{
    margin-top: -70px;
    margin-left: 90px;
    font-family: 'Sofia',cursive;
} 
#side
{
width: 270px;
height: 600px;
border: 2px black solid;
margin-top: 150px;
margin-left: 170px;
border-radius: 10px;
}

#voor
{
    width: 100px;
    top: 245px;
    left: 180px;
    position: absolute;
}

#voor1
{
 margin-top: -520px;
 margin-left: 280px;
font-size: 25px;
 
}

#hoofd
{
    width: 100px;
    top: 350px;
    left: 175px;
    position: absolute;

}

#hoofd1
{
margin-top: 65px;
margin-left: 275px;
font-size: 25px;
}
#nagerecht
{
    width: 100px;
    top: 460px;
    left: 175px;
    position: absolute;
}

#na1
{
    margin-top: 85px;
    font-size: 25px;
    margin-left: 275px;

}

#dranken
{
    width: 100px;
    top: 575px;
    left: 175px;
    position: absolute;
}
#dranken1
{
    margin-top: 105px;
    margin-left: 475;
    font-size: 25px;
}