header{
    background-color: #0E4281;
    width: 105%;
    height: 70px;
    margin-top: -8px;
    margin-left: -8px;
}

a{
    text-decoration: none;
}

#button1{
    width: 70px;
    height: 50px;
    display: block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 50px;
    margin-left: 30%;
    margin-top:  -60px;
    border-radius: 20px;
     font-family: 'Sofia',cursive;
    }
#button2{
    width: 70px;
    height: 50px;
    display: block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 50px;
    margin-left: 48%;
    margin-top: -50px;
    border-radius: 20px;
    font-family: 'Sofia',cursive;
        }
#button3{
    width: 70px;
    height: 50px;
    display: block;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    text-align: center;
    line-height: 50px;
    margin-left: 65%;
    margin-top: -50px;
    border-radius: 20px;
    font-family: 'Sofia',cursive;
}
#foto{
    width: 80px;
    height: 80px;
    margin-top: -5px;}

#text-logo{
    margin-top: -70px;
    margin-left: 90px;
    font-family: 'Sofia',cursive;} 
#side{
    width: 285px;
    height: 520px;
    border: 2px black solid;
    margin-top: 150px;
    margin-left: 170px;
    border-radius: 10px;}
#container{
    font-size: 20px;
    margin-left: 15px;
    margin-top: 25PX;}
.fotos{
    width: 110px; } 
.text{
    margin-top: -50px;
    margin-left: 110px;
    font-family: 'Sofia',cursive;}
.text1{
    margin-top: -70px;
    margin-left: 110px;
    font-family: 'Sofia',cursive;}
a{
    color: rgb(0, 0, 0);}
a:hover{
    color: rgb(214, 79, 16);}
.box:hover{
    transform: scale(0.9);}